## Notes
-Review 'and' 'or', etc....

In [370]:
print("Test")
p = 35
q = 10
r = p + q
print(r)

r = p - q
print(r)

r = p * q
print(r)

r = p / q
print(r)

Test
45
25
350
3.5

# Notes 01/23

## **Strings**
- Strings are immutable in Python

`u = "abcd" //u is a pointer to "abcd"`

`z = 'ijkl' //single quotations also valid`

In [371]:
u = "abcd"
z = 'ijkl'

print(u)
print(u[1]) #prints char at index 1
print(u[1:3]) #extracts a part of the string in the range of 1-3
print(u[1:4])

h = u[1:4] #new string with portion of "u"
print(h + " is the new string.")

print(z + " this is 'z' before.")
z = u #you don't copy the object, you copy the address, address to 'ijkl' is lost

print(z + " this is 'z' after.")

abcd
b
bc
bcd
bcd is the new string.
ijkl this is 'z' before.
abcd this is 'z' after.

- It is not possible to replace/change strings.

`u = "abcd" //assigning u`

`u[1] = 'q' //not allowed`



### String concatenation:

In [372]:
p = "Poway"
q = 'California'

r = p + q # can be applied to numbers and to strings as well

print(r)

r = p + ", " + q #can also add other chars
print(r)

PowayCalifornia
Poway, California

What happens when you try to concatenate an int with a string?:

In [373]:
p = 1000
q = "527"

#r = p + q
#print(r) # will cause TypeError "unsupporter operand type"

Would need to cast one to either 'str' or 'int':

In [374]:
p = 1000
q = "527"

r = str(p) + q
print(r)

#could also cast to 'int'
r = p + int(q)
print(r)

1000527
1527

Next what happens with type 'float'?:

In [375]:
p = 1000
q = "527.9"

r = p + float(q) #casting to float
print(r)

1527.9

* look into `StringIO()`

StringIO() needs header: `from io import StringIO`

In [376]:
from io import StringIO

u = StringIO()

u.write("abcd")
u.write("ijkl")
u.write("mnop")

r = u.getvalue()
u.close()
u = None

print(r)

abcdijklmnop

Another method:

In [377]:
city = "San Diego"
info = "I live in city" # city will not be replaced with "San Diego"

print(info)

#instead you can do the following:

info = f"I live in {city}" # now city will be replaced with value of variable 'city'

print(info)

I live in city
I live in San Diego

### Inputting values

Example of user input prompt:

In [378]:
#u = input("Please enter something: ")
#print(f"You entered {u}")

- New line can be created with: `\n`
- `print()` function creates a new line automatically:

In [379]:
print("This is a")
print("test.")

This is a
test.

- You can specify that you don't want new line with:
`print(f"This is a", end ="")`

In [380]:
print("This is a ", end="")
print("test")

This is a test

## String functions

-Length of a String:

`print(len(string)) //prints lenght of strenght`

-Accessing a character:

`print(string[4]) //prints the char at index 4`

-Accessing a subset of chars:

`print(string[1:5]) //prints characters from index 1 up to (but not including) index 5`

`print(string[:5]) //prints characters from the beginning up to index 5 (non-inclusive)`

`print(string[2:]) //prints characters from index 2 to the end of the string`

-Splitting string using `split()`:

`print(string.split(' ')) //splits string at spaces, if string is 'Hello there', result is 'Hello', 'there'`

-Counting strings using `count()`:

`print(string.count(' ')) //counts number of times a space is found in the string`

-Replacing strings using `replace()`:

`print(string.replace('word1', 'word2')) //replaces the ocurrence of word1 with word2`

-Find substrings using `find()`:

`print(string.find('find')) //finds substring in the parenthesis, returns index`

-Additional functions include:

`string.upper() //converts chars to uppercase`

`string.lower() //converts chars to lowercase`

`string.title() //capitalizes first char of each string`

# Notes 01/26

### If stmnts

Example:

In [381]:
p = 2
q = 3

if p > q:
    print("p is larger")
else:
    print("p is not larger")

p is not larger

- `elif` -> equivalent else if in C++

In [382]:
if 5 > 6:
    print('yes')
elif 5 > 7:
    print('yes')
else:
    print('no')

no

### Match/Case stmnts

-Similar to switch statements in C++:

In [383]:
num = 2

match num:
    case 1:
        print('1')
    case 2:
        print('yes, it is 2')
    case 3: 
        print('3')

yes, it is 2

### Ternary Operator in Python
-Similar to ternary in C++:

In [384]:
n = 4
res = "Even" if n % 2 == 0 else "Odd"
print(res)

Even

### Logical Operators

- `and` -> Returns True if both left and right are true
- `or` -> Returns True if either the left or the right is true
- `not` -> Returns true if the value being tested is False

In [385]:
first = True
second = False
third = True

print(first or second)
print(first and third)
print(not second) # same as !second in C++

True
True
True

# Notes 01/28
### ***While loops***
-Similar to C++: 

`while <condition>:
    do something`

In [386]:
# Greatest common divisor
p = 75
q = 45

# while they are not equal, will subtract smallest from largest until numbers are equal indicating GCD

while p != q:
    if p > q:
        p -= q
    else:
        q -= p

print(p)

15

-For loops and While loops can have an `else: ` section following the loop.

-The `else: ` block only runs after the while loop has been exited normally and not by `break`

In [387]:
# Checking for prime numbers

p = 1001
j = 2

# while j is less than p, it will check if it is divisible by j, if it is 'Not prime' and break the loop, otherwise it will continue to check unitl they are equal, and then the `else:` clause activates to print 'Prime'

while j < p:
    if p % j == 0:
        print('Not prime.')
        break
    j += 1
else:
    print('Prime.')

Not prime.

### ***For loops***

-Loop through a `range`.

-Parenthesis have `(start, stop, step)`

-If no step is included, loop will increment by 1

Example:

In [388]:
for j in range(5, 13 + 1, 2):
    print(j)

5
7
9
11
13

Example using array:

In [389]:
u = [9, 3, 7, 4, 8] # python list

# z is the loop variable that represents each element of the list
for z in u:
    print(z)

# using index
for j in range(0, len(u)):
    print(u[j])

9
3
7
4
8
9
3
7
4
8

### ***Collections***

#### List

`[1, 2, 3]`

-ordered

-mutable (can change)

-allows duplicates

-indexed

### Set

`{1, 2, 3}`

-unordered

-mutable

-NO duplicates

-No indexing